body{
 
  font-family: 'Open Sans Condensed', sans-serif;
  margin:0 ;
  padding: 0 ;
  font-size:140%;
  border: 1px solid grey;
}

.navbar{ 
  border: 1px solid rgb(86, 168, 18);
  display: flex;
  margin: 0 ;
  padding: 0 ;
  justify-content :center ;
  background-color: black;
  }


  .navbar li{
    border: 1px splid gray;
    flex-direction: row;
    list-style: none;
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  body{
    font-size: 30px;
  }
  
  a{
    text-decoration:none;
}

ul style {
    color: #FFFFFF;
}
ul :hover {
color: rgb(185, 208, 250);
}

a style {
    color: #FFFFFF;
}
a :hover {
color: rgb(185, 208, 250);
}

a{
  text-decoration:none;
}
#navbar {
  overflow: hidden;
  background-color: #333;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: rgb(248, 226, 226);
  font-size:40%;
  margin:0 0;
}
/*Jelina Chen*/

#buttons {
  padding-top: 50px;
  text-align: center;
  font-family: 'Open Sans', 'sans-serif';
}

.Button{
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 25px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #28cf4c;
}






