body{
  font-family:titillium web;
  margin: 0;
  padding: 0;
  font-size:10%;
  height: 200%;
}

.navigation{ 
  border: 1px splid gray;
  display: flex; 
  margin: 0;
  padding: 0;
  justify-content: center;
  background: black;
  }


  .navigation li{
    border: 1px splid white;
    flex-direction: row;
    list-style: none;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  body{
  
    font-size: 35px;
  
  }
  
a{
  text-decoration:none;
}
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
